/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
	font-family: 'Noto Sans TC', sans-serif;
}
body{
	background-image:asset-url('arches.png');
	background-repeat:repeat;
}
.business-name,.title{
	font-family: 'Seaweed Script', cursive;
}
a.router-link-active {
  /*box-shadow:2px 1px 4px #fff!important;*/
	text-shadow: 1px 2px 9px #FFF;
  color:white!important;
}
li.router-link-active .btn {
  /*box-shadow:2px 1px 4px #fff!important;*/
	text-shadow: 1px 2px 9px #FFF;
  color:white!important;
}
#appBody{
	height:100vh;
}
.VueCarousel{
	img{
		width:100%;
	}
}
.url-images{
	transition: all 150ms ease;
}
.url-images:hover{
	transform: scale(1.03);
	border-radius:5px;
	box-shadow:2px 1px 4px #888;
}
#homeBg{
	background-image:asset-url('dining_area.png');
	background-size: cover;
	background-position: center;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	height:100vh;
	color:white;
	.business-name{
		font-size:8.5rem;
	}
	.business-name, p{
		text-shadow: 1px 1px 1px #000;
	}
}
#customNav{
	box-shadow: 10px 0 5px -2px #888;
	background-image:asset-url('long_wood.png');
	background-repeat: repeat;
	padding-left:10px;
	.brand-logo img{
		width:110%;
		position: relative;
		box-shadow: 4px 1px 5px #000;
		margin:2rem 0 0 .2rem;
		z-index: 999;
	}
	li .btn{
		/*font-family: 'Kaushan Script', cursive;*/
	  text-transform: capitalize;
	}
	height:100vh;
	.title{
		color:white;
		font-size:2rem;
	}
}
#mobileNav{
	display: none!important;
}
#qr{
	width:200px;position:absolute;top:0;right:0;margin:1rem 0 0 0;
}
@media only screen and (max-width: 430px) {
	#customNav{
		display: none!important;
	}
	.sidenav{
		width:150px!important;
		box-shadow: 10px 0 5px -2px #888;
		background-image:asset-url('long_wood.png');
		background-repeat: repeat;
	}
	#mobileNav{
		display: block!important;
		position: relative;

	}
	#homeBg .business-name {
    font-size:4rem;
  }
  .rootNav{
  	width:0!important;
  }
  #qr{
  	width:200px;position:absolute;top:0;margin:1rem 0 0 0;
  	right:auto!important;
  }
  .rootPadding{
  	.title{
  		font-size:2rem;
  	}
  }
}

#footer{
	padding:25px;
	background-color:#011;
	
}
.rootView{
	max-height:100vh;
	min-height:100vh;
	overflow:scroll;
}
.rootPadding{
	min-height: 100vh;
	.woodBg{
		background-image:asset-url('yellow_wood.jpg');
		background-repeat:repeat;
		padding:25px;
		border-radius:5px;
		box-shadow: 5px 10px 13px #888;
		.title{
			font-weight:900;
		}
	}
	padding:75px;
	img{
		width:100%;
	}
}
.noPadding{
	padding-right:0!important;padding-left:0!important;
}
.noMargin{
	margin-left:0!important;
	margin-right:0!important;
	margin-bottom:0!important;
}

.btn{
	border-radius:2px!important;
	/*background-image:asset-url('yellow_wood.jpg');*/
	background-color:#011!important;
	background-repeat:repeat;
	color:#888!important;
	box-shadow: 3px 1px 2px #000!important;
	transition:all 150ms ease;
}
.btn:hover{
	color:#FFF!important;
}
